{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'photoalbum/css/style.css' %}">
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                <li><a href="{% url 'user_photo' %}">Twoje zdjęcia</a></li>
                <li><a href="{% url 'edit_user' %}">Edytuj konto</a></li>
                {% endif %}
                {% if user.is_superuser %}
                <li><a href="/admin/">Admin</a></li>
                {% endif %}
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  {% if user.is_authenticated %}
                <li class="user-details" id="user_{{ user.id }}"><a href="">Witaj {{ user }}</a></li>
                <li><a href="{% url 'logout' %}">Wyloguj</a></li>
                  {% else %}
                <li><a href="{% url 'signup' %}">Zarejestruj</a></li>
                  {% endif %}
              </ul>

            </div><!--/.nav-collapse -->
          </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div >
                {% block header %}{% endblock header %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                {% block content %} {% endblock content %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'photoalbum/js/app.js' %}"></script>
    {% block javascript %}{% endblock javascript %}
</body>
</html>