{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'photoalbum/css/style.css' %}">
</head>
<body>
{% block header %}{% endblock header %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            {% block content %} {% endblock content %}
        </div>
    </div>
</div>

{% block footer %}{% endblock footer %}
</body>
</html>