{% extends './base.html' %}

{% load bootstrap3 %}

{% block content %}
    <form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
        <input class="btn btn-primary black-btn-primary" type="submit" name="submit" value="zaloguj się">
    {% if msg %}
    <p class="err-msg"> {{ msg }}</p>
    {% endif %}
    </form>

    {% for photo in photos %}
    <div class="col-sm-12 col-md-6 img-container {{ photo.orientation }}">
        <figure id="{{ photo.id }}">
            <div class="img-wrapper col-xs-12 {% if photo.orientation == 'portrait'%} col-sm-8 {% endif %}"><img class="card-body" src="{{ photo.path_to_resized.url }}" alt="{{ photo.title }}"></div>
            <div class="info-wrapper col-xs-12 {% if photo.orientation == 'portrait'%} col-sm-4 {% endif %}">
                <figcaption><span class="photo-author">{{ photo.user }}:</span> "{{ photo.title }}"</figcaption>
            </div>
        </figure>
    </div>
    {% endfor %}

{% endblock content %}