{% extends './base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block header %}
    <h2>Photos</h2>
{% endblock header %}

{% block content %}

    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
        <input type="submit" name="submit" value="Upload">
    </form>
    
    {% for photo in photos %}
        <figure id="{{ photo.id }}">
            <img class="card-body" src="{{ photo.path.url }}" alt="{{ photo.title }}" >
            <figcaption>{{ photo.user }}: "{{ photo.title }}"</figcaption>
            <i class="fas fa-thumbs-up like"></i>
            <p class="likes-count">{{ photo.likes }}</p>
        </figure>
    {% endfor %}
    
{% endblock content %}