{% extends './base.html' %}

{% load bootstrap3 %}

{% block header %}
    <h2>{{ user }}</h2>
{% endblock header %}

{% block content %}
    {% for photo in user_photos %}
        <figure id="{{ photo.id }}">
            <div class="img-wrapper"><a href="{% url 'photo_details' photo.id %}"><img src="{{ photo.path.url }}" alt="{{ photo.title }}"></a></div>
            <figcaption>{{ photo.title }}</figcaption>
            <p class="likes-count">Liczba polubień: {{ photo.likes.count }}</p>
            <p class="comments-count">Liczba komentarzy: {{ photo.comments.count }}</p>
        </figure>
    {% endfor %}
{% endblock content %}